<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v2/index.json" />
    <add key="xamarin forms dev" value="https://www.myget.org/F/xamarinforms-dev/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>&gt;
  <disabledPackageSources>&gt;
    <add key="nuget" value="true" />&gt;
  </disabledPackageSources>
</configuration>